extends side-nav-sublayout

block primary
    h1  Admin Dashboard
    h6 Logged in as USER ID: #{user_id}
    div
        a(href='/admin/media')
            button(class='btn btn-primary mb-2 w-25') Media Content Manager
    div
        a(href='/admin/changepassword')
            button(class='btn btn-warning mb-2 w-25') Change Password
            = ' '
    div
        a(href='/admin/logout')
            button(class='btn btn-danger mb-2 w-25') Logout