extends side-nav-sublayout

block primary
    h1  Admin Dashboard
    p Logged in as USER_ID: #{user_id}
    a(href='/admin/changepassword') Change Password
    = ' '
    a(href='/admin/logout') Logout
    br
    a(href='/admin/media') Media Content Manager
