extends side-nav-sublayout

block primary
    h1 Categories
    div(class="container")
        div(class="row")
            div(class="col-sm")
                h4 Add New Category
                form(name="category-form", method="post")
                    div(class="form-group")
                        label(for="termName") Category name
                        input(type="text" class="form-control" id="termName" placeholder="Enter category name")
                    div(class="form-group")
                        label(for="termSlug") Slug
                        input(type="text" class="form-control" id="termSlug" placeholder="Enter category name")
                        small(id="slugHelp" class="form-text text-muted").
                            The "slug" is the URL-friendly version of the name, it is usually all lowercase and contains only letters, numbers and hyphens.
                    div(class="form-group")
                        label(for="description") Description
                        textarea(type="text" class="form-control" id="description" rows="3")
                    input(type="submit", value='Add' class='btn btn-success')
            div(class="col-sm")