h1  Change Password
include ./partial/msg
form(action='/admin/changepassword' method='POST')
    div
        label(for='oldpass') Old Password
        input(type='password' id='oldpass' name='oldpass')
    div
        label(for='newpass') New Password
        input(type='password' id='newpass' name='newpass')
    div
        label(for='newpass2') Confirm New Password
        input(type='password' id='newpass2' name='newpass2')
    button(type='submit') Change Account Password