extends layout

block content
  div(class='container-fluid')
    h1(style="text-align:center") Change Password
    div(class="col-xl-3 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4 border")
        include ./partial/msg
        form(action='/admin/changepassword' method="POST")
            div(class="form-group w-100")
                label(class="w-25" class="h6" for="oldpass") Old:
                input(class="w-75" type="password" id="oldpass" name="oldpass" placeholder="Old Password")
            div(class="form-group w-100")
                label(class="w-25" class="h6" for="newpass") New:
                input(class="w-75" type="password" id="newpass" name="newpass" placeholder="New Password")
            div(class="form-group w-100")
                label(class="w-25" class="h6" for="newpass2") Confirm New:
                input(class="w-75" type="password" id="newpass2" name="newpass2" placeholder="Confirm New Password")    
            button(type='submit' class='btn btn-primary btn-block active') Change Password
