extends layout

block content
  div(class='container-fluid')
    h1  Change Password
    
    
    div(class="col-xl-3 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4 border")
      include ./partial/msg
      form(action='/admin/changepassword' method='POST')
          div
              label(for='oldpass') Old Password
              input(type='password' id='oldpass' name='oldpass')
          div
              label(for='newpass') New Password
              input(type='password' id='newpass' name='newpass')
          div
              label(for='newpass2') Confirm New Password
              input(type='password' id='newpass2' name='newpass2')
          button(type='submit' class='btn btn-success') Change Account Password
