extends layout

block content 

    h1(style="text-align:center") Contact Us 
    div(class="col-xl-3 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-group p-4 border rounded-lg")
        h5 * Required Fields
        br
        form(method="POST" action="contact/send")    
        div(class="form-group w-100")
            label(class="w-25" class="h6" for="name") * Full Name: 
            input(class="w-75" id="name" name="name" placeholder="Full Name" minlength=5 required=true)
        div(class="form-group w-100")
            label(class="w-25" class="h6" for="email") * Email:
            input(class="w-75" type="email" id="email" name="email" placeholder="Email Address" required=true)
        div(class="form-group w-100")
            label(class="w-25" class="h6" for="phone") Phone: 
            input#phone(class="w-75" name="phone" placeholder="07xxxxxxxxx" minlength=5 required=false)
        div(class="form-group w-100")
            label(class="w-25" class="h6" for="title") * Title:
            input(class="w-75" type="text" id="title" name="title" placeholder="Message Title" minlength="5" required="true")
        div(class="form-group w-100")
            label(class="w-25" class="h6" for="body" style="float:left") * Body:
            textarea(class="w-75" name="message" id="message" placeholder="Message Body" minlength=20 cols="30", rows="10" required=true)
        button(type='submit' class='btn btn-primary btn-block active') Submit