doctype html
head
    meta(charset='UTF-8')
    script(src = '../routes/email.js')
di.contact
    h3 Email Us
    form(method='POST' action='send')
        p
            label Full Name:
            div
            input(type='text' name='name' required=true)
        p
            label Email Address:
            div
            input(type='email' name='email' required=true)
        p
            label Phone Number:
            div
            input(type='tel' name='phone')
        p
            label Message Title:
            div
            input(type='text' name='title' required=true)
        p.full
            label Message Body:
            div
            textarea(name='message' rows='8' cols='30' required=true)
        p.full
            button(type='submit') Submit
