extends side-nav-sublayout

block primary

  //- Container for page title
  div(class='container-fluid' align="center")
    br
    h1 Feed
    br

  //- Container for feed posts.
  div(class='container-xl')
    each item in results
      if (item.visible == 1)
        include PostBox