extends side-nav-sublayout

append head
  style(type='text/css').
    .social-feed-box {
      padding: 15px;
      border: 1px solid #e7eaec;
      background: #fff;
      margin-bottom: 15px;
      
    }

block primary
    
  //- Container for page title
  div(class='container-fluid')
    br
    h1 Feed
    br
      
  div(class="dropdown")
    button(type='button' class='btn btn-primary dropdown-toggle' id='dropdownButton' data-toggle='dropdown') Dropdown Button
    div(class='dropdown-menu')
      a(class='dropdown-item' href='#') Edit
      a(class='dropdown-item' href='#') Hide

  //- Container for feed posts.
  div(class='container-xl')
    each item in results
      //- container for single post
      div(class='social-feed-box')
        //- container for title and publish time
        div(class='media-body')
          h2= item.title
          small(class='text-muted') #{formatDate(item.created_on)}
          //- div(class="dropdown")
          //-   button(class='btn btn-link dropdown-toggle' id='dropdownButton' type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown Button
          //-   div(class='dropdown-menu' aria-lebelledby='drowdownButton')
          //-     a(class='dropdown-item') Edit
          //-     a(class='dropdown-item') Hide
        hr
        //- Container for post body ( '|' tells pug to use accept raw HTML which the posts are saved as)
        div(class='social-body')
          | !{item.html}
