h1  Forgot Password
include ./partial/msg
form(action='/admin/forgotpassword/' + token method='POST')
    div
        label(for='newpass') New Password
        input(type='password' id='newpass' name='newpass')
    div
        label(for='newpass2') Confirm New Password
        input(type='password' id='newpass2' name='newpass2')
    button(type='submit') Change Password