extends layout

block content
    h1  Forgot Password
    include ./partial/msg
    form(action='/admin/forgotpassword' method='POST')
        div
            label(for='username') Email / Username
            input(id='username' name='username')
        button(type='submit') Send Password Reset