extends layout

block content
    h1  Forgot Password
    form(action='/admin/forgotpassword/' + token method='POST')
        include ./partial/msg
        div
            label(for='newpass') New Password
            input(type='password' id='newpass' name='newpass')
        div
            label(for='newpass2') Confirm New Password
            input(type='password' id='newpass2' name='newpass2')
        button(type='submit') Change Password