extends side-nav-sublayout

//- hiding sidebar for people not logged in
append head
  style(type='text/css').
    .side-panel {
      display: none;
    }
    img.fluid {
      max-width: 40%;
      height: auto;
    }

block primary
  
  div(class='container-fluid')
    br
    h1= title
    br
      
  h6 Welcome to Information Hub for Kings Young Adults Liver Center
  h6 Database version: #{databaseVersion}
  br
  div 
    img(src="", alt="xxx" class='rounded img-fluid')
    br
  div(class='container-xl')
    div 
      a(href='/admin/login') 
        button(class='btn btn-success mb-2 w-25') Login
    div
      a(href='/contact') 
        button(class='btn btn-primary mb-2 w-25') Contact Us
    div
      a(href='/message')
        button(class='btn btn-warning mb-2 w-25') Send Message
    div
      a(href='/admin/message')
        button(class='btn btn-danger mb-2 w-25') Messages Admin Panel
