extends side-nav-sublayout

//- hiding sidebar for people not logged in
append head
  style(type='text/css').
    .side-panel {
      display: none;
    }
  style(type='text/css').
    #index-title {
        font-size: 50px;
        color: white;
        background-color: #a10000;
      }
    #login-button, #contact-button, #message-button, #admin-button {
      width: 20%;
    }
    #banner {
      width: 100%;
      height: auto;
    }

block primary
  
  div(class='container-fluid')
    //- br
    //- h1= title
    //- br
  br
  div 
   h1(id='index-title' class='w-100' style='text-align:center')= 'Information Hub - Kings College Hospital'
   br
  div(class='container-xl')
    div 
      a(href='/admin/login') 
        button(class='btn btn-success ml-4 mb-2 mr-5' id='login-button') Login
      a(href='/contact') 
        button(class='btn btn-primary mb-2 mr-5' id='contact-button') Contact Us
      a(href='/message')
        button(class='btn btn-warning mb-2 mr-5' id='message-button') Send Message
      a(href='/admin/message')
        button(class='btn btn-danger mb-2' id='admin-button') Messages Admin Panel
    br 
    div 
      img(src="/index-banner.png", alt="xxx" id='banner')
    div 
      img(src="/index-banner-2.png", alt="xxx" id='banner')
    br
    h6 Database version: #{databaseVersion}
