extends side-nav-sublayout

append head
  style(type='text/css').
    .side-panel {
      display: none;
    }

block primary
  
  div(class='container-fluid')
    br
    h1= title
    br
      
  p Welcome to #{title}
  p Database version: #{databaseVersion}
  a(href='/admin/login') Login
  br
  a(href='/contact') Contact Us
  br
  a(href='/message') Send Message
  br
  a(href='/admin/message') Messages Admin Panel
