doctype html
html
  head
    title= title


    script(language='javascript', src = '/js/jquery.js')
    script(language='javascript', src = 'js/bootstrap.min.js')
    script(language='javascript', src='js/jquery.typeahead.min.js')
    script(language='javascript', src='js/typeahead.js')

    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="js/jquery.typeahead.min.css")
  body
    block content
