extends layout

block content
    h1  Login
    
    
    div(class="col-xl-3 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4 border")
      include ./partial/msg 
      form(action='/admin/login' method='POST')
          div
              label(for='username') Username: 
              input(id='username' name='username' placeholder='Username')
          div
              label(for='password') Password:
              input(type='password' id='password' name='password' placeholder='Password')
          p
              a(href='/admin/forgotpassword') Forgot Password
          button(type='submit' class='btn btn-success') Login
