extends side-nav-sublayout

block primary
    
    div(class='container-fluid')
      h1= title
      
    div(class='container-xl')
        form(method='post')
            h3 Question: #{question}
            p= custom_id
            label Reply to Message:
            br
            textarea(name='message' minlength=20 rows='8' cols='80' required=true)
            br
            button(type='submit' class='btn btn-success') Submit
                
        
