extends side-nav-sublayout

block primary
  
  //- Container for page title
  div(class='container-fluid')
    h1= title
    br
    br
    
  include ./partial/msg
  div(class='container-xl')
    form(method='POST' action='/message/send')
      p(style='font-weight: bold') * Required 
      //- Message Title
      div(class='form-group row')
        label(for='title' class='col-sm-2 col-form-label') Subject*
        div(class='col-sm-10')
          if (post != null)
            input(type='text' name='title' required=true minlength=5 class='form-control' value='Question about post '+post[0].id+ ' ('+post[0].title+')')
          else 
            input(type='text' name='title' required=true minlength=5 class='form-control')
      //- Message Body
      div(class='form-group row')
        label(for='message' class='col-sm-2 col-form-label') Message*
        div(class='col-sm-10')
          textarea(name='message' required=true minlength=20 placeholder='Type your message here' class='form-control')
      //- submit Button
      button(class='btn btn-success' type='submit') Send

  //- Back button
  div(class='container-fluid' style='padding:2rem;')
    br
    a(href='/message/')
      button(class='btn btn-dark') Back To Questions
        
