extends side-nav-sublayout

block primary

  //- Container for page title
  div(class='container-fluid')
    h1= title
    br


  div(class='container-xl')
    form(method='POST' action='/message/send')
      h6(style='font-weight: bold') * Required
      br
      //- Message Title
      div(class='form-group row')
        label(for='title' class='col-sm-1 col-form-label') *Subject
        div(class='col-sm-6')
          -if (post != null)
            input(type='text' name='title' required=true minlength=5 class='form-control' value='Question about post '+post[0].id+ ' ('+post[0].title+')')
          -else 
            input(type='text' name='title' required=true minlength=5 class='form-control')
      br
      //- Message Body
      div(class='form-group row')
        label(for='message' class='col-sm-1 col-form-label') *Message
        div(class='col-sm-6')
          textarea(name='message' required=true rows='4' minlength=20 placeholder='Type your message here' class='form-control')
          br
          div(class='form-check form-switch')
            input(type='checkbox' class='form-check-input' id='flexSwitchCheckChecked' name='public' checked='' value='1')
            label(for='flexSwitchCheckChecked' class='form-check-label') Share my question with others
          //- submit Button
          div
            br
            button(class='btn btn-success w-25' type='submit') Send

  //- Back button
  div(class='container-fluid')
    a(href='/message/')
      button(class='btn btn-primary mt-4') Back To Questions
        
