//- Page for admins to view all current posts on the site
extends side-nav-sublayout
append head
  script(src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/group-by-v2/bootstrap-table-group-by.min.js")
  link(rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css")
  script(src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js")
  style(type='text/css').
    .table-image {
    td, th {
      vertical-align: middle;
    }
    .btn {
      /* margin-left: 5px; */
      /* margin-top: 5px; */
    }
  script(type='application/javascript' src='../public/javascripts/confirm-delete.js')

block primary

  link(rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/group-by-v2/bootstrap-table-group-by.css")
  script(src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/group-by-v2/bootstrap-table-group-by.min.js")
  //- container-fluid sets div to largest size for bootstrap
  div(class='container-fluid')
    h1= title
    include ./partial/msg

  div(class='btn-toolbar' style='padding:2rem;' id="toolbar")
    button(id="remove", class="btn btn-danger")
      i.fa.fa-trash
      |  Delete
    a(href='/edit/new')
      button(class='btn btn-primary') New Post

  //- Creates large Div container
  div(class='container-lg')
    div(class='col')
      table(id="table" class="table table-bordered" data-toggle="table" data-pagination="true" data-search="true" data-group-by="true" data-group-by-field="visible" data-toolbar="#toolbar")
      script.
        var $table = $('#table')
        var $remove = $('#remove')
        var selections = []

        function getIdSelections() {
          return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
          })
        }

        function responseHandler(res) {
          $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
          })
          return res
        }

        function timeFormatter(value, row, index) {
          return String(formatDate(row.created_on));
        }

        function formatDate(dateString) {
          var date = new Date(dateString);
          var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          var days = date.getDate();
          var month = monthNames[date.getMonth()];
          var year = date.getFullYear();
          var hours = date.getHours();
          if (hours < 10) {
            hours = "0" + hours;
          }
          var mins = date.getMinutes();
          if (mins < 10) {
            mins = "0" + mins;
          }
          return days + ' ' + month + ' ' + year + ' | ' + hours + ':' + mins;
        }
        function actionFormatter(value, row, index) {
          let view_url = '/edit/view/' + row.id;
          let edit_url = '/edit/' + row.id;
          let delete_url = '/edit/delete/' + row.id;
          let hide_url = '/edit/hide/' + row.id;
          let show_url = '/edit/show/' + row.id;
          let actions = [
            '<a class="view" href="' + view_url + '" title="Edit">',
            '<button class=\'btn btn-primary\' title=\'View Post\'>',
            '<i class="fa fa-eye"></i>',
            '</button></a>  ',
            '<a class="edit" href="' + edit_url + '" title="Edit">',
            '<button class=\'btn btn-success\' title=\'View Post\'>',
            '<i class="fa fa-edit"></i>',
            '</button></a>  ',
            '<a class="delete" href="' + delete_url + '" title="Delete">',
            '<button class=\'btn btn-danger\' title=\'View Post\'>',
            '<i class="fa fa-trash"></i>',
            '</button></a>  '
          ].join('')

          // Depending on whether the post is visible or not we use a show/hide button.
          if (row.visible) {
            actions += '<a class="hide" href="' + hide_url + '" title="Hide"><button type=\'submit\' class=\'btn btn-info\' title=\'Delete\'><i class="fa fa-eye"></i></button></a>'
          } else {
            actions += '<a class="show" href="' + show_url + '" title="Show"><button type=\'submit\' class=\'btn btn-info\' title=\'Hide\'><i class="fa fa-eye-slash"></i></button></a>'
          }

          return actions
        }

        window.operateEvents = {
            'click .remove': function (e, value, row, index) {
              $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
              })
            }
          }

        function initTable() {
          $table.bootstrapTable('destroy').bootstrapTable({
            height: 900,
            locale: $('#locale').val(),
            data: !{JSON.stringify(results)},
            columns: [
              [{
                field: 'state',
                checkbox: true,
                align: 'center',
                valign: 'middle'
              }, {
                title: "Visible",
                field: "visible",
                align: "center",
                sortable: "true",
                }, {
                title: 'ID',
                field: 'id',
                align: 'center',
                sortable: true,

              }, {
                title: 'Description',
                field: 'description',
                align: 'center',
                sortable: true
              }, {
                title: "Title",
                field: "title",
                align: 'center',
                sortable: true
              }, {
                title: "Created on",
                field: "created_on",
                align: "center",
                sortable: true,
                formatter: timeFormatter,
              }, {
                title: "Author ID",
                field: "author_id",
                align: "center",
                sortable: true
              },{
                title: "Actions",
                field: "action",
                align: "center",
                clickToSelect: false,
                events: window.operateEvents,
                formatter: actionFormatter,
              }]
            ]
          })
          $table.on('check.bs.table uncheck.bs.table ' +
                  'check-all.bs.table uncheck-all.bs.table',
                  function () {
                    $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
                    // save your data, here just save the current page
                    selections = getIdSelections()
                    // push or splice the selections if you want to save all data selections
                  })

          $remove.click(function () {
            var ids = getIdSelections();
            ids.forEach(id => {
              $.ajax({
                url: '/api/posts/' + id,
                method: 'delete',
              });
            })
            console.log(ids);
            $table.bootstrapTable('remove', {
              field: 'id',
              values: ids
            });

            $remove.prop('disabled', true)
          })
        }

        $(function () {
          initTable();

          //$('#locale').change(initTable)
        })
