extends layout

append head
  - var content = doc;

block content
    
  div(class='container-fluid')


  div(class='container-fluid' style='padding:2rem;')
    a(href='/edit/')
      button(class='btn btn-dark') Back To List

  div(class='container-xl')
    h2(style='float:left')= postname
    div(id='buttons', style='float:right')
      a(href='/edit/' + id)
        button(type='button' class='btn btn-success') Edit
    br
    br
    div(id='output' class='border')
      | !{doc}
