extends layout

block content
    form(action='search' method='GET')
        input(name='q' value='')
    ul
        each result in results
            li #{result.title}
            ul
                li #{result.text}