form(class='d-flex' action='search' method='GET')
    input.typeahead(class="form-control me-2" style='margin-left:10px' type='text' name='q' placeholder="Search" aria-label="Search" autocomplete='off')
    input(type="hidden" name="page" value="0")
    //button(class="btn btn-outline-success gap-2" type="submit" style='margin-left:10px') Search
    script(language='javascript', src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js")
    style(type='text/css').
        .tt-menu .more{
            display:none;
        }
        .tt-menu div:last-child .more {
            display:block;
            }
    script.
        const categories = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('termName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: !{JSON.stringify(categories)}
        });
        const posts = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: !{JSON.stringify(posts)}
        });
        const messages = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: !{JSON.stringify(messages)}
        });

        $('.typeahead').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 1,
                length: 8
            }, {
                name: "Category",
                displayKey: "termName",
                templates: {
                    suggestion: function (data) {
                        return '<div><a href=' + data.url + '>' + data.termName +' </div>';
                    },
                    header: function(data) {
                        return '<h4>Categories</h4>'
                    },
                    footer: function(data) {
                        return '<p class="more"><a href="/search?q=' + data.query + '">See all results</a></p>';
                    }                },
                source: categories
            }, {
                name: "Post",
                displayKey: "title",
                length: 8,
                templates: {
                    suggestion: function (data) {
                        return '<div><a href=' + data.url + '>' + data.title + '</div>';
                    },
                    header: function(data) {
                        return '<h4>Posts</h4>'
                    },
                footer: function(data) {
                    return '<p class="more"><a href="/search?q=' + data.query + '">See all results</a></p>';
                }
                },
                source: posts
            }, {
                name: "Questions",
                displayKey: "title",
                limit: 8,
                templates: {
                    suggestion: function (data) {
                        return '<div><a href=' + data.url + '>' + data.title + '</a></div>';
                    },
                    header: function(data) {
                        console.log(data);
                        return '<h4>Questions</h4>'
                    },
                    footer: function(data) {
                        return '<p class="more"><a href="/search?q=' + data.query + '">See all results</a></p>';
                    }
                },
                source: messages
            });