extends layout

append head
    style(type='text/css').
      .navbar {
        height: 75px;
        width: 100%;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #f0f2f5;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      
      .side-panel{
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 50px;
        left: 0;
        background-color: #f0f2f5;
        overflow-x: hidden;
        transition: 0.1s;
        padding-top: 50px;
      }
      
      .side-panel a {
        font-size: 30px;
      }
      
      /* .side-panel a:hover {
        color: #f1f1f1;
        text-decoration: none;
      } */
      
      .primary {
        margin-left: 150px;
        background-color: #ffffff;
        padding-top: 15px;
      }
      
block content 
    .navbar
        block navbar
            nav(class='navbar navbar-expand-lg navbar-light') 
              div(class='container-fluid')
                a(class='navbar-brand' href='/') Info Hub
                button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                  span(class='navbar-toggler-icon')
              
                div(class='collapse navbar-collapse' id='navbarSupportedContent')
                    ul(class='navbar-nav me-auto mb-2 mb-lg-0')
                      li(class='nav-item')
                        a(class='nav-link' href='/edit/feed') Feed
                        
                      li(class='nav-item dropdown')
                        a(class='nav-link dropdown-toggle' href='/edit/' id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Posts
                        ul(class='dropdown-menu' aria-labelledby='navbarDropdown')
                          li
                            a(class='dropdown-item' href='/edit/') View Posts
                          li
                            hr(class='dropdown-divider')
                          li
                            a(class='dropdown-item' href='/edit/new') Create New Post
                    //- Todo: add code to only show if admin
                div(class='d-flex justify-content-end' )
                    a(href='/admin/dashboard')
                      button(class='btn btn-outline-primary my-2 my-sm-0') Account / Login
                    
    .sidepanel
        block sidepanel
            div(class='side-panel')
              //- Button to view user questions
              a(href='#') 
                button(class='btn btn-outline-secondary w-100 gap-2' style='border:none') View Your Questions
              //- button to ask a question of the staff  
              a(href='#')
                button(class='btn btn-outline-secondary w-100 gap-2' style='border:none') Ask a Question
              //- should put in divider to separate admin tools and non
              hr
              a(href='#')
                button(class='btn btn-outline-secondary w-100 gap-2' style='border:none') View User Questions
              //- button to create new post (ADMIN ONLY) add an if to produce this
              a(href='/edit/new')
                button(class='btn btn-outline-secondary w-100 gap-2' style='border:none') Create a New Post
              //- button to view posts index (ADMIN ONLY) add an if to produce this code
                in future we should make his manage posts and be able to change post visibility
              a(href='/edit/')
                button(class='btn btn-outline-secondary w-100 gap-2' style='border:none') View Posts
              //- button for admins to see asked questions
              //- button to view saved posts?    
              p #{values}
              //- each val in values
              //-   a(href=val.link)
              //-     button(class='btn btn-outline-secondary w-100 gap-2' style='border:none') #{val.text}
            
            
    .primary
        div(class='primary')
            block primary
            
            
