extends layout

append head
  script(type="application/javascript" src="/tinymce/tinymce.min.js")
  script(id='config' data-content=doc type="application/javascript" src= "/javascripts/tinymce-config.js")
block content
    h1(id='try')= postname
    form(name="editor-form", method="post")
        div.input
            span.label Post Name:
            input(type="text", id='postLbl', name="filename", value="Enter title here")
        br
        div.input
            textarea(name="content", id="my-expressjs-tinymce-app", value="Enter title here")
        br
        div.actions
            input(type="submit", value="Post")
              
      
