extends side-nav-sublayout

append head
  script(type="application/javascript" src="/tinymce/tinymce.min.js")
  script(id='config' data-content=doc type="application/javascript" src= "/javascripts/tinymce-config.js")
  
  //- If this is a new post, sets default values for titles
  - if (postname == null) {
  -   var postname = "Enter Title Here"
  -   var title = "Create New Post"
  - }
  
block primary
  div(class='container-fluid')
    h1= title

  //- container for post form
  div(class='container-xl')
    form(name="editor-form", method="post")
        div(id='input' style='padding:10px; padding-left:0;')
            label(for='filename' class='col-sm-2 col-form-label') Post Name:
            input(type="text", id='postLbl', name="filename", value=postname)
        div.input
            textarea(name="content", id="my-expressjs-tinymce-app", value="Enter title here")
        br
        div.actions
            input(type="submit", value='Save' class='btn btn-success')
              
    //- container for back button
  div(class='container-fluid' style='padding:2rem;')
    a(href= back)
      button(class='btn btn-dark') Back To List
